
<div class="headerDiv">
  <h1 style="text-align: center; color: rgb(0, 81, 255); -bottom: 8px;">
  .אנא בחר במפלגה ולחץ אישור ,{{userName}}
  </h1>
</div>

<br />

<div class="divStyle">
  <div style="float: left;width: 25%;">
    <img class="logo" src="/assets/zionutdatit.jpg/" (click)="zionutdatitAboutClicked()" /><br />
    <img class="petek" src="/assets/petek-zionutdatit.jpg/" /><br />
    <input class="selectBtn" type="button" value="בחר" (click)="TakeChoise('הציונות הדתית')" />
  </div>

  <div style="float: left;width: 25%;">
    <img class="logo" src="/assets/likud.jpg/" (click)="likudAboutClicked()" /><br />
    <img class="petek" src="/assets/petek-likud.jpg/" /><br />
    <input class="selectBtn" type="button" value="בחר" (click)="TakeChoise('הליכוד')" />
  </div>

  <div style="float: left;">
    <img class="logo" src="/assets/yeshatid.jpg/" (click)="yeshatidAboutClicked()" /><br />
    <img class="petek" src="/assets/petek-yeshatid.jpg/" /><br />
    <input class="selectBtn" type="button" value="בחר" (click)="TakeChoise('יש עתיד')" />
  </div>
</div>


<div *ngIf="IsSelected" class="showSelection">
  <h1 style="text-align: center; float: left; width: 100%; color: white;">
    בחרת במפלגת: <span class="markingChoise">{{userSelection}}</span><br />
    ?האם את/ה בטוח/ה
  </h1>

  <input type="button" value="ביטול" (click)="Abort()" class="finalAskBtn1" />
  &nbsp;&nbsp;
  <input type="button" value="אישור" class="finalAskBtn2" />
</div>


<div class="about" *ngIf="isAboutOn">
  <span *ngIf="likudAbout">
    <br />
    <span class="header1">הליכוד</span>
    <p>
      נוסדה בשנת 1973
      הליכוד החל את דרכו כרשימה משותפת שהוקמה בשנת 1973, לקראת הבחירות לכנסת השמינית,
      וכללה את חרות, את המפלגה הליברלית, את המרכז החופשי, את הרשימה הממלכתית ואת תנועת
      העבודה למען ארץ ישראל השלמה. בשנת 1988 התמזגו המפלגות לכדי מפלגה אחת בשם הליכוד.
    </p>
    <p>
      הליכוד היא מפלגת ימין מתונה שהתמודדה על השלטון בכל שנות קיומה. הליכוד בראשותו של
      מנחם בגין תפס את השלטון לראשונה בשנת 1977 ונותר בו עד 1984. לאחר מכן המפלגה הייתה
      שותפה בשלוש ממשלות האחדות שכיהנו עד 1990. יצחק שמיר כיהן כראש ממשלה מטעם הליכוד
      בשנים 1986 1992. בשנה זו, לאחר יותר מחמש עשרה שנים בשלטון, חזר הליכוד לחבוש את ספסלי
      האופוזיציה, ושב לשלטון בראשות בנימין נתניהו בשנים 1999-1996 ופעם נוספת
      בראשות אריאל שרון בשנים 2005-2001. בשלהי 2005 חל פילוג במפלגה, עם פרישתו של
      אריאל שרון ושורה של חברי כנסת מהמפלגה והקמתה של קדימה. לאחר שלוש שנים באופוזיציה
      שב הליכוד למעמד של מפלגת השלטון, עם כניסתה לתפקיד של ממשלת נתניהו השנייה
      ב-31 במרס 2009. מאז נמצא הליכוד בשלטון.
    </p>
    <p>
      המפלגה תמכה ברעיון ארץ ישראל השלמה, גם אם לא תמיד הגדירה מהם גבולותהמדינה המדויקים.
      במשך שנים לא הכירה המפלגה בתביעות הפלסטינים לריבונות, אבל עם השנים עמדותיה התמתנו,
      ובפועל היא הובילה לוויתורים בהסכמי קמפ דיוויד (1979), פתחה במשא ומתן בוועידת מדריד (1991),
      המשיכה את הסכמי אוסלו והובילה את תכנית ההתנתקות החד-צדדית שכללה את פינוי היישובים
      היהודיים ברצועת עזה (2005).
    </p>
    <p>
      בנושא החברתי-כלכלי הליכוד מציג עמדות ימניות ושמרניות הדוגלות בשוק חופשי.
      אך זוכה עם זאת לתמיכה דווקא בקרב אוכלוסיות חלשות מבחינה כלכלית.
      הליכוד פעל להפרטת המשק לצד קביעת שכר מינימום, חוק פנסיה ממלכתית ועוד.
      בנושאי דת ומדינה לליכוד עמדות מרכזיות והוא מאופיין כמפלגה חילונית,
      אך עדיין נחשב שותף נוח למפלגות הדתיות יותר מהמערך או ממפלגת העבודה.
    </p>
    <input class="closeBtn" type="button" value="סגור" (click)="closeAbout()" />
    <p></p>
  </span>

  <span *ngIf="yeshatidAbout">
    <br />
    <span class="header1">יש עתיד</span>
    <p>
      נוסדה בשנת 2012
      מפלגת יש עתיד היא מפלגת מרכז אשר הוקמה לקראת בחירות 2013 ביוזמת העיתונאי ואיש התקשורת
      יאיר לפיד. המפלגה הטרייה הייתה הפתעת הבחירות, לאחר שהצליחה לזכות ב-19 מושבים שהציבו
      אותה כסיעה השנייה בגודלה בכנסת. בבחירות הבאות היא איבדה מכוחה וקיבלה 11 מושבים.
    </p>
    <p>
      יש עתיד ממצבת עצמה כמפלגת מרכז ומתמקדת במצעה בנושאי חברתיים, אזרחיים ומשטריים
      ופחות בנושא המדיני-ביטחוני. בין היתר קוראת המפלגה לשינוי שיטת השלטון,
      צמצום גודל הממשלה והגבלת כהונת ראש הממשלה לשתי קדנציות. אחד הנושאים המרכזיים
      בו מתמקדת המפלגה הוא עניין החינוך. המפלגה דוגלת בשוויון בנטל ושואפת כי בתום שנים
      ספורות כל אזרח ישראלי ישרת שירות צבאי או אזרחי.
    </p>
    <p>
      לקראת הבחירות לכנסת ה-21 ובעקבות מסע שכנועים אינטנסיבי הסכימה המפלגה להתאחד עם חוסן
      לישראל ותל"ם במסגרת רשימת כחול לבן. יאיר לפיד הוצב במקום השני ברשימה. שיתוף הפעולה
      במסגרת כחול לבן נמשך גם בשתי הבחירות הבאות, אולם לאחר בחירות 2020, בעקבות החלטתו של בני גנץ
      (ראש הרשימה ויו"ר חוסן לישראל להיכנס לממשלת אחדות עם הליכוד ונתניהו, התפצלה
      כחול לבן ויש עתיד החליטה להישאר באופוזיציה. בבחירות 2021 חזרה יש עתיד להתמודד באופן עצמאי.
    </p>
    <input class="closeBtn" type="button" value="סגור" (click)="closeAbout()" />
    <p></p>
  </span>

  <span *ngIf="zionutdatitAbout">
    <br />
    <span class="header1">הציונות הדתית</span>
    <p>
      הציונות הדתית הוא שמה המתחדש של מפלגת האיחוד לאומי-תקומה כמו גם הכינוי של ברית מפלגות
      שהתמודדה בבחירות 2021 ואשר כללה שתי מפלגות ימין קיצוני נוספות: עוצמה יהודית ונֹעם.
    </p>
    <input class="closeBtn" type="button" value="סגור" (click)="closeAbout()" />
    <p></p>
  </span>
</div>